.about {
margin-bottom: 87px;

  &__content {
    margin-bottom: 82px;

    @include small-tablet {
      margin-bottom: 35px;
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    padding-left: 76px;
    padding-right: 54px;

    &::before {
      left: 25px;
    }

    @include mobile {
      padding: 15px;
      font-size: 14px;
    }
  }

}

.about-panel {

  &__top {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-color);

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    width: 50%;
    margin: 0 50px;
    flex-direction: column;
    align-items: flex-end;

    @include small-tablet {
      margin: 0;
      margin-bottom: 15px;
      width: 100%;
      flex-direction: row;
    }
  }

  &__link {
    margin-bottom: 61px;
    align-self: flex-start;

    @include small-tablet {
      margin: 0;
      margin-right: 10px;
    }
  }

  &__logo {
    @include mobile {
      max-width: 100px;
    }
  }

  &__descr {
    margin: 0;
    margin-left: auto;
    max-width: 315px;
  }

  &__video-link {
    display: block;
    border-radius: 3px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: background-color 0.5s, box-shadow 0.5s;
    }

    &:hover {
      &::before {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 133px;
      height: 150px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto auto;
      background-image: url('../img/about/play.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: transform 0.5s;
      z-index: 3;
    }

    &:hover {
      &::after {
        transform: scale(1.2);
      }
    }
  }

  &__video {
    display: block;
  }


  &__advantages {
    padding: 0 42px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 30px;
    row-gap: 60px;
    justify-content: center;
  }

  &__item {
    padding-left: 120px;
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &--1 {
      &::before {
        content: url('../img/about/about/1.svg');
      }
    }

    &--2 {
      &::before {
        content: url('../img/about/about/2.svg');
      }
    }

    &--3 {
      &::before {
        content: url('../img/about/about/3.svg');
      }
    }

    &--4 {
      &::before {
        content: url('../img/about/about/4.svg');
      }
    }

    &--5 {
      &::before {
        content: url('../img/about/about/5.svg');
      }
    }

    &--6 {
      &::before {
        content: url('../img/about/about/6.svg');
      }
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    color: var(--dark-color);
  }
}

.work-panel {
  padding-top: 68px;
  padding-bottom: 108px;
  background-color: var(--light-color);

  &__title {
    margin-bottom: 71px;
    text-align: center;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(251px, 1fr));
    gap: 40px;
    justify-content: center;
  }

  &__item {
    padding-top: 140px;
    position: relative;
    text-align: center;

    &::before {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-size: contain;
      background-repeat: no-repeat;
    }

    &--1 {
      &::before {
        content: url('../img/about/work/1.svg');
      }
    }

    &--2 {
      &::before {
        content: url('../img/about/work/2.svg');
      }
    }

    &--3 {
      &::before {
        content: url('../img/about/work/3.svg');
      }
    }

    &--4 {
      &::before {
        content: url('../img/about/work/4.svg');
      }
    }
  }
}

.review-panel {
  padding: 56px 101px 114px 102px;
  background-color: var(--light-color);

  @include small-tablet {
    padding: 30px;
  }

  &__top {
    margin-bottom: 37px;
    display: flex;
    align-items: center;

    @include small-tablet {
      margin-bottom: 15px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__author {
    margin-right: 60px;
    font-weight: 700;
    font-style: normal;

    @include small-tablet {
      margin: 0;
      margin-bottom: 10px;
    }
  }

  &__list {
    margin-right: auto;
    display: flex;
    align-items: center;

    @include small-tablet {
      margin: 0;
      margin-bottom: 10px;
    }
  }

  &__item {
    font-size: 14px;
    color: #8f8f8f;
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__text {
    display: block;
    margin: 0 auto;
    max-width: 800px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    @include mini-desktop {
      display: none;
    }
  }
}

.certificate-panel {
  background-color: var(--light-color);

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 192px);
    gap: 11px;
    justify-content: center;
  }
}
