.about {
margin-bottom: 87px;

  &__content {
    margin-bottom: 82px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    padding-left: 76px;
    padding-right: 54px;

    &::before {
      left: 25px;
    }
  }

}

.about-panel {

  &__top {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-color);
  }

  &__info {
    margin: 0 50px;
  }

  &__logo {
    margin-bottom: 61px;
  }

  &__descr {
    margin: 0;
    margin-left: 200px;
    max-width: 315px;
  }

  &__video-link {
    width: 50%;
    display: block;
    border-radius: 3px;
    position: relative;
    z-index: 1;

    img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left left;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: background-color 0.5s, box-shadow 0.5s;
    }

    &:hover {
      &::before {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 133px;
      height: 150px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto auto;
      background-image: url('../img/about/play.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: transform 0.5s;
      z-index: 3;
    }

    &:hover {
      &::after {
        transform: scale(1.2);
      }
    }
  }


  &__advantages {
    padding: 0 42px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 60px;
    justify-content: center;
  }

  &__item {
    padding-left: 120px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &--1 {
      &::before {
        width: 87px;
        height: 80px;
        background-image: url('../img/about/about/1.svg');
      }
    }

    &--2 {
      &::before {
        width: 112px;
        height: 80px;
        background-image: url('../img/about/about/2.svg');
      }
    }

    &--3 {
      &::before {
        width: 82px;
        height: 94px;
        background-image: url('../img/about/about/3.svg');
      }
    }

    &--4 {
      &::before {
        width: 87px;
        height: 80px;
        background-image: url('../img/about/about/4.svg');
      }
    }

    &--5 {
      &::before {
        width: 82px;
        height: 82px;
        background-image: url('../img/about/about/5.svg');
      }
    }

    &--6 {
      &::before {
        width: 81px;
        height: 99px;
        background-image: url('../img/about/about/6.svg');
      }
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    color: var(--dark-color);
  }
}

.work-panel {
  padding-top: 68px;
  padding-bottom: 108px;
  background-color: var(--light-color);
  &__title {
    margin-bottom: 71px;
    text-align: center;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 251px);
    gap: 40px;
    justify-content: center;
  }

  &__item {
    padding-top: 140px;
    position: relative;
    text-align: center;

    &::before {
      width: 100px;
      height: 100px;
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-size: contain;
      background-repeat: no-repeat;
    }

    &--1 {
      &::before {
        background-image: url('../img/about/work/1.svg');
      }
    }

    &--2 {
      &::before {
        background-image: url('../img/about/work/2.svg');
      }
    }

    &--3 {
      &::before {
        background-image: url('../img/about/work/3.svg');
      }
    }

    &--4 {
      &::before {
        background-image: url('../img/about/work/4.svg');
      }
    }
  }
}

.review-panel {
  padding: 56px 101px 114px 102px;
  background-color: var(--light-color);

  &__top {
    margin-bottom: 37px;
    display: flex;
    align-items: flex-start;
  }

  &__author {
    font-style: normal;
    margin-right: 60px;
    font-weight: 700;
  }

  &__list {
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  &__item {
    font-size: 14px;
    color: #8f8f8f;
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__text {
    display: block;
    margin: 0 auto;
    max-width: 800px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.certificate-panel {
  padding: 95px 95px;
  background-color: var(--light-color);

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 192px);
    gap: 11px;
    justify-content: center;
  }

  &__prev,
  &__next {
    overflow: visible;
  }

  &__prev {
    left: 20px;
  }
}
