.action-form {
  max-width: 595px;
  padding: 55px 100px 70px;

  &--measure {
    background-color: var(--orange-color);
  }

  &--cost {
    background-color: var(--main-color);
  }

  &--review {
    background-color: var(--light-color);
  }

  &__title {
    padding-left: 56px;
    position: relative;
    font-size: 24px;
    color: var(--light-color);

    &::before {
      position: absolute;
      content: '';
      width: 30px;
      height: 27px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--measure {
      &::before {
        background-image: url('../img/btn-measure.svg');
      }
    }

    &--cost {
      &::before {
        background-image: url('../img/btn-cost.svg');
      }
    }

    &--review {
      padding-left: 0;
      color: var(--main-color);

      &::before {
        background-image: url('../img/btn-review.svg');
      }
    }
  }

  &__input {
    &::placeholder {
      font-size: 16px;
    }
  }

  &__checkbox {
    margin-bottom: 42px;
  }

  &__checkbox-text {
    color: var(--light-color);
    font-size: 14px;

    &--measure {
      &::before {
        background-color: var(--light-color);
      }
      a {
        color: var(--main-color);
      }
    }

    &--cost {
      color: var(--light-color);

      a {
        color: var(--orange-color);
      }
    }

    &--review {
      color: var(--dark-color);

      a {
        color: #111e97;
      }
    }
  }

  &__btn {
    max-width: 260px;
    font-size: 16px;
    background-color: var(--light-color);

    &--orange {
      color: var(--orange-color);
    }

    &--blue {
      color: var(--main-color);
    }

    &--review {
      background-color: var(--orange-color);
    }
  }
}
