.modals-btn-list {
    display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 14px;
    }

    @include mobile {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }
}
