.portfolio {
  margin-bottom: 80px;
  padding-top: 50px;
  background-color: var(--light-color);

  &__swiper {
    margin-bottom: 62px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 214px));
    gap: 44px;
    justify-content: center;

    @include mini-desktop {
      grid-template-columns: repeat(auto-fit, 150px);
      gap: 20px;
    }

    @include small-tablet {
      grid-template-columns: repeat(auto-fit, 75px);
      gap: 10px;
    }

    @include mobile {
      grid-template-columns: repeat(auto-fit, 50px);
    }
  }

  &__link {
    display: block;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
      transition: box-shadow 0.3s ease-in-out;

      img {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  &__img {
    transition: transform 0.3s ease-in-out;
  }

  &__map {
    &--modal {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    @include mobile {
      display: none;
    }
  }
}

.portfolio-modal {
  &__action {
    padding-bottom: 311px;
    margin-bottom: 30px;
    display: flex;
  }

  &__swiper {
    margin: 0;
    margin-right: 60px;
    max-width: 360px;
  }

  &__info {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }

  &__date {
    margin-right: 27px;
    font-size: 14px;
    color: #9494a8;
  }

  &__address {
    margin: 0;
    padding-left: 41px;
    position: relative;

    &::before {
      position: absolute;
      content: url('../img/portfolio/inner/icon.svg');
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    color: var(--dark-color);
  }

  &__list {
    margin-bottom: 25px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__subtitle {
    margin: 0;
  }

  &__text {
    margin: 0;
  }

  &__btn {
    &:not(:last-child) {
      margin-right: 15px;
    }

    &--cost {
      &::before {
        width: 29px;
        height: 19px;
        background-image: url('../img/portfolio/inner/cost.svg');
      }
    }
  }
}

.portfolio-modal__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}

.portfolio-modal__pagination .swiper-pagination-bullet {
  border: 1px solid #9494A8;
}

#first_map,
#second_map {
  width: 100%;
  min-height: 300px;
}
