<section id="about" class="about">
  <div class="container about__container">
    <h2 class="about__title subtitle centered">
      О компании
    </h2>
    <div class="tabs">
      <ul class="tabs__nav list-reset">
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset btn" type="button">Описание </button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset btn" type="button"> Как мы работаем</button>
        </li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset btn" type="button">Отзывы</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset btn" type="button">Сертификаты</button></li>
      </ul>
      <div class="tabs__content about__content">
        <div class="tabs__panel about-panel">
          <div class="about-panel__top">
            <div class="about-panel__info">
              <a href="#" class="about-panel__link">
                <img src="img/about/logo.png" alt="Логотип компании Окна Хаус" class="about-panel__logo logo">
              </a>
              <p class="about-panel__descr">
                Мы помогаем клиентам подбирать решения, учитывая пожежелания к характеристикам окна и его стоимости.
                Окно - это объект, которым Вы будете пользоваться много лет, поэтому для нас очень важно, чтобы Вы
                сделали правильный выбор.
              </p>
            </div>
            <a href="https://www.youtube.com/watch?v=oLa3H3nGt6Q" data-fancybox class="about-panel__video-link">
              <picture class="about-panel__picture">
                <source srcset="img/about/video.webp" type="image/webp">
                <img loading="lazy" src="img/about/video.jpg" class="about-panel__video" width="595" height="461" alt="Мужчина устанавливает окно">
              </picture>
            </a>
          </div>
          <div class="about-panel__advantages">
            <ul class="about-panel__list list-reset">
              <li class="about-panel__item about-panel__item--1">
                <h3 class="about-panel__subtitle">
                  профессионализм
                </h3>
                <p class="about-panel__text">
                  Бригада профессиональных
                  мастеров по монтажу
                  и обслуживанию
                </p>
              </li>
              <li class="about-panel__item about-panel__item--2">
                <h3 class="about-panel__subtitle">
                  Ценообразование
                </h3>
                <p class="about-panel__text">
                  Лучшие цены на рынке
                  пластиковых окон
                </p>
              </li>
              <li class="about-panel__item about-panel__item--3">
                <h3 class="about-panel__subtitle">
                  Мобильность
                </h3>
                <p class="about-panel__text">
                  Заключение договора
                  на дому
                </p>
              </li>
              <li class="about-panel__item about-panel__item--4">
                <h3 class="about-panel__subtitle">
                  Лояльность
                </h3>
                <p class="about-panel__text">
                  99% клиентов рекомендуют
                  нас своим друзьям
                </p>
              </li>
              <li class="about-panel__item about-panel__item--5">
                <h3 class="about-panel__subtitle">
                  Скорость
                </h3>
                <p class="about-panel__text">
                  Короткие сроки
                  установки изделий
                </p>
              </li>
              <li class="about-panel__item about-panel__item--6">
                <h3 class="about-panel__subtitle">
                  Служба качества
                </h3>
                <p class="about-panel__text">
                  Безупречное качество
                  и контроль изделий ПВХ
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="tabs__panel work-panel">
          <h2 class="work-panel__title subtitle">
            Как мы работаем
          </h2>
          <ul class="work-panel__list list-reset">
            <li class="work-panel__item work-panel__item--1">
              <h3 class="work-panel__subtitle">
                Бесплатно приедем
              </h3>
              <p class="work-panel__text">
                Выезжаем бесплатно во все
                города Московской области
              </p>
            </li>
            <li class="work-panel__item work-panel__item--2">
              <h3 class="work-panel__subtitle">
                Выезжаем ежедневно
              </h3>
              <p class="work-panel__text">
                С 9 до 21 без выходных
                и праздников
              </p>
            </li>
            <li class="work-panel__item work-panel__item--3">
              <h3 class="work-panel__subtitle">
                Образцы с собой
              </h3>
              <p class="work-panel__text">
                Покажем образцы профильных
                систем и материалов отделки
              </p>
            </li>
            <li class="work-panel__item work-panel__item--4">
              <h3 class="work-panel__subtitle">
                Стоимость
              </h3>
              <p class="work-panel__text">
                Называем точную стоимость
                заказа на месте
              </p>
            </li>
          </ul>
        </div>
        <div class="tabs__panel review-panel">
          <div class="swiper review-panel__swiper">
            <div class="swiper-wrapper review-panel__wrapper">
              <div class="swiper-slide review-panel__slide">
                <div class="review-panel__top">
                  <cite class="review-panel__author">
                    Раиса Михайлова
                  </cite>
                  <ul class="review-panel__list list-reset">
                    <li class="review-panel__item">
                      <time datetime="2021-06-24">24.06.2021</time>
                    </li>
                    <li class="review-panel__item">
                      <span class="review-panel__contract">Договор №123456</span>
                    </li>
                  </ul>
                  <button class="btn btn-action btn-action--orange btn-reset review-panel__btn" data-graph-path="modal-action--review">Оставить отзыв</button>
                </div>
                <p class="review-panel__text">
                  Огромное СПАСИБО всей команде Дизайн-Окно! В июне 2021 заказывала переостекление + отделка балкона
                  первый раз и так все удачно - быстро, качественно. Все прошло отлично, в соответствии с условиями
                  договора. Замерщик приехал как оговорено без опозданий, произвел замер лазерным уровнем, все подробно
                  рассказал по профилю и комплектующим. Предоплата составила 20%, остаток - по факту. Соотношение
                  цена/качество в сравнении с конкурентами. Доставка точно в срок, за 3 дня все установили. Итог -
                  красивые окна. Будем зимой проверять на прочность :
                </p>
                <p class="review-panel__text">
                  Большая благодарность за отлично проведённую работу! Замерщик по вызову пришёл быстро, всё хорошо
                  объяснил , окна пришли в соответствии со согласованной датой, поднятие в квартиру прошла очень хорошо
                  , монтажники справились со своей работой на отлично! Все прошло в позитиве, соотношение цены и
                  качества хорошее. Отличная команда! Спасибо!!!
                </p>
              </div>
              <div class="swiper-slide review-panel__slide">
                <div class="review-panel__top">
                  <cite class="review-panel__author">
                    Раиса Михайлова
                  </cite>
                  <ul class="review-panel__list list-reset">
                    <li class="review-panel__item">
                      <time datetime="2021-06-24">24.06.2021</time>
                    </li>
                    <li class="review-panel__item">
                      <span class="review-panel__contract">Договор №123456</span>
                    </li>
                  </ul>
                  <button class="btn btn-action btn-action--orange btn-reset review-panel__btn" data-graph-path="modal-action--review">Оставить отзыв</button>
                </div>
                <p class="review-panel__text">
                  Огромное СПАСИБО всей команде Дизайн-Окно! В июне 2021 заказывала переостекление + отделка балкона
                  первый раз и так все удачно - быстро, качественно. Все прошло отлично, в соответствии с условиями
                  договора. Замерщик приехал как оговорено без опозданий, произвел замер лазерным уровнем, все подробно
                  рассказал по профилю и комплектующим. Предоплата составила 20%, остаток - по факту. Соотношение
                  цена/качество в сравнении с конкурентами. Доставка точно в срок, за 3 дня все установили. Итог -
                  красивые окна. Будем зимой проверять на прочность :
                </p>
                <p class="review-panel__text">
                  Большая благодарность за отлично проведённую работу! Замерщик по вызову пришёл быстро, всё хорошо
                  объяснил , окна пришли в соответствии со согласованной датой, поднятие в квартиру прошла очень хорошо
                  , монтажники справились со своей работой на отлично! Все прошло в позитиве, соотношение цены и
                  качества хорошее. Отличная команда! Спасибо!!!
                </p>
              </div>
              <div class="swiper-slide review-panel__slide">
                <div class="review-panel__top">
                  <cite class="review-panel__author">
                    Раиса Михайлова
                  </cite>
                  <ul class="review-panel__list list-reset">
                    <li class="review-panel__item">
                      <time datetime="2021-06-24">24.06.2021</time>
                    </li>
                    <li class="review-panel__item">
                      <span class="review-panel__contract">Договор №123456</span>
                    </li>
                  </ul>
                  <button class="btn btn-action btn-action--orange btn-reset review-panel__btn" data-graph-path="modal-action--review">Оставить отзыв</button>
                </div>
                <p class="review-panel__text">
                  Огромное СПАСИБО всей команде Дизайн-Окно! В июне 2021 заказывала переостекление + отделка балкона
                  первый раз и так все удачно - быстро, качественно. Все прошло отлично, в соответствии с условиями
                  договора. Замерщик приехал как оговорено без опозданий, произвел замер лазерным уровнем, все подробно
                  рассказал по профилю и комплектующим. Предоплата составила 20%, остаток - по факту. Соотношение
                  цена/качество в сравнении с конкурентами. Доставка точно в срок, за 3 дня все установили. Итог -
                  красивые окна. Будем зимой проверять на прочность :
                </p>
                <p class="review-panel__text">
                  Большая благодарность за отлично проведённую работу! Замерщик по вызову пришёл быстро, всё хорошо
                  объяснил , окна пришли в соответствии со согласованной датой, поднятие в квартиру прошла очень хорошо
                  , монтажники справились со своей работой на отлично! Все прошло в позитиве, соотношение цены и
                  качества хорошее. Отличная команда! Спасибо!!!
                </p>
              </div>
            </div>
            <div class="swiper-button-prev btn-swiper review-panel__prev"></div>
            <div class="swiper-button-next btn-swiper review-panel__next"></div>
          </div>
        </div>
        <div class="tabs__panel certificate-panel">
          <div class="swiper certificate-panel__swiper">
            <div class="swiper-wrapper certificate-panel__wrapper">
              <div class="swiper-slide certificate-panel__slide">
                <ul class="certificate-panel__list list-reset">
                  <li class="certificate-panel__item">
                    <a href="img/about/certificate/1.jpg" class="certificate-panel__link" data-fancybox>
                      <img src="img/about/certificate/1.jpg" alt="" class="certificate-panel__img">
                    </a>
                  </li>
                  <li class="certificate-panel__item">
                    <img src="img/about/certificate/2.jpg" alt="" class="certificate-panel__img">
                  </li>
                  <li class="certificate-panel__item">
                    <img src="img/about/certificate/3.jpg" alt="" class="certificate-panel__img">
                  </li>
                  <li class="certificate-panel__item">
                    <img src="img/about/certificate/4.jpg" alt="" class="certificate-panel__img">
                  </li>
                  <li class="certificate-panel__item">
                    <img src="img/about/certificate/5.jpg" alt="" class="certificate-panel__img">
                  </li>
                </ul>
              </div>
              <div class="swiper-slide certificate-panel__slide">
                <ul class="certificate-panel__list list-reset">
                  <li class="certificate-panel__item">
                    <img src="img/about/certificate/1.jpg" alt="" class="certificate-panel__img">
                  </li>
                  <li class="certificate-panel__item">
                    <img src="img/about/certificate/2.jpg" alt="" class="certificate-panel__img">
                  </li>
                  <li class="certificate-panel__item">
                    <img src="img/about/certificate/3.jpg" alt="" class="certificate-panel__img">
                  </li>
                  <li class="certificate-panel__item">
                    <img src="img/about/certificate/4.jpg" alt="" class="certificate-panel__img">
                  </li>
                  <li class="certificate-panel__item">
                    <img src="img/about/certificate/5.jpg" alt="" class="certificate-panel__img">
                  </li>
                </ul>
              </div>
              <div class="swiper-slide certificate-panel__slide">
                <ul class="certificate-panel__list list-reset">
                  <li class="certificate-panel__item">
                    <img src="img/about/certificate/1.jpg" alt="" class="certificate-panel__img">
                  </li>
                  <li class="certificate-panel__item">
                    <img src="img/about/certificate/2.jpg" alt="" class="certificate-panel__img">
                  </li>
                  <li class="certificate-panel__item">
                    <img src="img/about/certificate/3.jpg" alt="" class="certificate-panel__img">
                  </li>
                  <li class="certificate-panel__item">
                    <img src="img/about/certificate/4.jpg" alt="" class="certificate-panel__img">
                  </li>
                  <li class="certificate-panel__item">
                    <img src="img/about/certificate/5.jpg" alt="" class="certificate-panel__img">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-action btn-action--orange btn-reset about__btn" data-graph-path="modal-action--measure">Оформить заявку на замер</button>
  </div>
</section>
