<section id="contacts" class="contacts">
  <div class="container contacts__container">
    <h2 class="contacts__title subtitle centered">Контакты</h2>
    <div class="contacts__content">
      <div class="contacts__info">
        <h3 class="contacts__subtitle">Бесплатная консультация</h3>
        <address class="contacts__address">
          <ul class="contacts__list-tel list-reset">
            <li class="contacts__item-tel">
              <a href="tel:+84932343140" class="contacts__link-tel">8 (4932) 34 - 31 - 40</a>
            </li>
            <li class="contacts__item-tel">
              <a href="tel:+89051093140" class="contacts__link-tel">8 (905) 109 - 31 - 40</a>
            </li>
          </ul>
          <p class="contacts__address-text">г. Иваново, ул. Генерала Хлебникова, д.54, оф.303</p>
          <a href="mailto:okna@haus.ru" class="contacts__link-email">okna@haus.ru</a>
        </address>
        <p class="contacts__descr">
          Установку должны выполнять только эксперты. Нам доверяют сотни семей.
          Узнайте поробнее, какие решения вам подходят.
          Вы можете приобрести недорогие товары
          при гарантированно
          высоком качестве.
        </p>
        <ul class="contacts__list-social list-reset">
          <li class="contacts__item-social">
            <a href="https://www.facebook.com/" title="Не забудьте включить VPN!" target="_blank" class="contacts__link-social">
              <svg class="contacts__svg" role="img" aria-label="Facebook">
                <use href="img/sprite.svg#fb"></use>
              </svg>
            </a>
          </li>
          <li class="contacts__item-social">
            <a href="https://vk.com/" target="_blank" class="contacts__link-social">
              <svg class="contacts__svg" role="img" aria-label="VK">
                <use href="img/sprite.svg#vk"></use>
              </svg>
            </a>
          </li>
          <li class="contacts__item-social">
            <a href="https://www.instagram.com/" title="Не забудьте включить VPN!" target="_blank" class="contacts__link-social">
              <svg class="contacts__svg" role="img" aria-label="instagram">
                <use href="img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="contacts__item-social">
            <a href="https://www.whatsapp.com/?lang=ru" target="_blank" class="contacts__link-social">
              <svg class="contacts__svg" role="img" aria-label="whatsapp">
                <use href="img/sprite.svg#whatsapp"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="contacts__form-inner">
        <form class="contacts__form request-form">
          <h2 class="request-form__title">Остались вопросы ?</h2>
          <div class="action-form__inner request-form__inner">
            <label class="action-form__label request-form__label">
              <input type="text" class="action-form__input request-form__input" placeholder="Ваше имя" required>
            </label>
            <label class="action-form__label request-form__label">
              <input type="email" class="action-form__input request-form__input" placeholder="E-mail" required>
            </label>
            <label class="action-form__label request-form__label">
              <textarea class="action-form__input request-form__input request-form__input-textarea"
                placeholder="Ваш отзыв" required></textarea>
            </label>
            <div class="action-form__checkbox request-form__checkbox">
              <label class="action-form__label-check request-form__label-check">
                <input type="checkbox" class="action-form__input-check request-form__input-check" required>
                <p class="action-form__checkbox-text request-form__checkbox-text action-form__checkbox-text--review">
                  Я согласен(на) на обработку <a href="">персональных данных</a>
                </p>
              </label>
            </div>
            <button class="request-form__btn btn btn-reset">Отправить сообщение</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
