<section class="hero">
  <div class="container hero__container">
    <div class="hero__info">
      <h1 class="hero__info-title">
        <span class="hero__info-subtitle">Окна Хаус -</span>
        Профессиональный подход к остеклению
      </h1>
      <ul class="hero__info-list list-reset">
        <li class="hero__info-item hero__info-item--1">
          <p class="hero__info-text">
            Современные окна и балконные конструкции по доступным ценам
          </p>
        </li>
        <li class="hero__info-item hero__info-item--2">
          <p class="hero__info-text">
            Квалифицированный подход к решению задач любой сложности
          </p>
        </li>
        <li class="hero__info-item hero__info-item--3">
          <p class="hero__info-text">
            Гарантия <br> высочайшего качества нашей продукции
          </p>
        </li>
      </ul>
    </div>

    <div class="hero__request">
      <form class="request-form">
        <h2 class="request-form__title">Вызвать замершика на дом</h2>
        <div class="request-form__inner">
          <label class="request-form__label">
            <input type="text" class="request-form__input" placeholder="Представьтесь, пожалуйста" required>
          </label>
          <label class="request-form__label">
            <input type="tel" class="request-form__input" placeholder="Номер телефона" required>
          </label>
          <label class="request-form__label">
            <input type="email" class="request-form__input" placeholder="E-mail" required>
          </label>
          <div class="request-form__checkbox">
            <label class="request-form__label-check">
              <input type="checkbox" class="request-form__input-check" required>
              <p class="request-form__checkbox-text">
                Согласен на обработку персональных данных в соответствии с <a href="#">политикой конфиденциальности</a>
              </p>
            </label>
          </div>
          <button class="request-form__btn btn btn-reset">Отправить заявку</button>
        </div>
      </form>
    </div>
  </div>
</section>
