<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="services-item-1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="services-modal">
        <div class="services-modal__container">
          <div class="services-modal__action">
            <div class="swiper services-modal__swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="img/services/services-modal-1.jpg" alt="Пластиковое окно в доме"
                    class="services-modal__image">
                </div>
                <div class="swiper-slide">
                  <img src="img/services/services-modal-1.jpg" alt="Пластиковое окно в доме"
                    class="services-modal__image">
                </div>
                <div class="swiper-slide">
                  <img src="img/services/services-modal-1.jpg" alt="Пластиковое окно в доме"
                    class="services-modal__image">
                </div>
                <div class="swiper-slide">
                  <img src="img/services/services-modal-1.jpg" alt="Пластиковое окно в доме"
                    class="services-modal__image">
                </div>
                <div class="swiper-slide">
                  <img src="img/services/services-modal-1.jpg" alt="Пластиковое окно в доме"
                    class="services-modal__image">
                </div>
              </div>
              <div class="services-modal__pagination"></div>
            </div>
            <div class="services-modal__about">
              <h2 class="services-modal__title subtitle">Установка пластиковых окон</h2>
              <p class="services-modal__text">
                Пластиковые окна Rehau от проверенного производителя с гарантией качества
              </p>
              <div class="services-modal__buttons">
                <button class="services-modal__btn btn btn-reset btn--orange">Заявка на замер</button>
                <button class="services-modal__btn btn btn-reset btn--blue">Заказать расчет</button>
              </div>
            </div>
          </div>
          <ul class="services-modal__list list-reset">
            <li class="services-modal__item services-modal__item--1">
              <h3 class="services-modal__subtitle">Пластиковые окна</h3>
              <p class="services-modal__descr">
                Использование ламинационных окон, ламинации в массе, 3д-ламинации, а также покраска окон.
              </p>
            </li>
            <li class="services-modal__item services-modal__item--2">
              <h3 class="services-modal__subtitle">Ламинация</h3>
              <p class="services-modal__descr">
                Пластиковые окна могут быть любого нужного вам цвета. Внутри и снаружи.
              </p>
            </li>
            <li class="services-modal__item services-modal__item--3">
              <h3 class="services-modal__subtitle">Подоконники</h3>
              <p class="services-modal__descr">
                Качественный подоконник не царапается, выдерживает большие нагрузки и будет служить вам долгие годы.
              </p>
            </li>
            <li class="services-modal__item services-modal__item--4">
              <h3 class="services-modal__subtitle">Цветные ручки</h3>
              <p class="services-modal__descr">
                Оригинальные оконные ручки подчеркнут дизайн окна. Подберем оптимальный цвет ручек в зависимости от
                цвета всей конструкции.
              </p>
            </li>
            <li class="services-modal__item services-modal__item--5">
              <h3 class="services-modal__subtitle">Проветриватели</h3>
              <p class="services-modal__descr">
                Постоянное обновление воздуха в комнате снижает риск аллергии, улучшает сон и благоприятно влияет на
                самочувствие.
              </p>
            </li>
            <li class="services-modal__item services-modal__item--6">
              <h3 class="services-modal__subtitle">Москитные сетки</h3>
              <p class="services-modal__descr">
                Нежеланные насекомые останутся на улице, а ваша кошка - в квартире. Устанавливаем сетки для пластиковых
                окон любых форм и размеров.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="services-item-2">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="services-modal">
        <div class="services-modal__container">
          <div class="services-modal__action">
            <div class="swiper services-modal__swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="img/services/services-modal-2.jpg" alt="Пластиковое окно в помещении с видом на город"
                    class="services-modal__image">
                </div>
                <div class="swiper-slide">
                  <img src="img/services/services-modal-2.jpg" alt="Пластиковое окно в помещении с видом на город"
                    class="services-modal__image">
                </div>
                <div class="swiper-slide">
                  <img src="img/services/services-modal-2.jpg" alt="Пластиковое окно в помещении с видом на город"
                    class="services-modal__image">
                </div>
                <div class="swiper-slide">
                  <img src="img/services/services-modal-2.jpg" alt="Пластиковое окно в помещении с видом на город"
                    class="services-modal__image">
                </div>
                <div class="swiper-slide">
                  <img src="img/services/services-modal-2.jpg" alt="Пластиковое окно в помещении с видом на город"
                    class="services-modal__image">
                </div>
              </div>
              <div class="services-modal__pagination"></div>
            </div>
            <div class="services-modal__about">
              <h2 class="services-modal__title subtitle">Остекление балконов и лоджий</h2>
              <p class="services-modal__text">
                Занимаемся остеклением и отделкой балконов и лоджий. Теплое и холодное остекление, изготовление выносов и крыш. Беремся за сложные объекты
              </p>
              <div class="services-modal__buttons">
                <button class="services-modal__btn btn btn-reset btn--orange">Заявка на замер</button>
                <button class="services-modal__btn btn btn-reset btn--blue">Заказать расчет</button>
              </div>
            </div>
          </div>
          <ul class="services-modal__list list-reset">
            <li class="services-modal__item services-modal__item--1">
              <h3 class="services-modal__subtitle">Тёплое остекление</h3>
              <p class="services-modal__descr">
                Теплое остекление — возможность сделать из балкона или лоджии полноценное жилое помещение.
              </p>
            </li>
            <li class="services-modal__item services-modal__item--2">
              <h3 class="services-modal__subtitle">Холодное остекление
                </h3>
              <p class="services-modal__descr">
                Холодное остекление рекомендовано в случаях, когда балкон или лоджия используются для хранения вещей.
              </p>
            </li>
            <li class="services-modal__item services-modal__item--3">
              <h3 class="services-modal__subtitle">Панорамное остекление</h3>
              <p class="services-modal__descr">
                Остекление от пола до потолка, дающее максимальное естественное освещение и прекрасный обзор окрестностей.
              </p>
            </li>
            <li class="services-modal__item services-modal__item--4">
              <h3 class="services-modal__subtitle">Остекление с выносом</h3>
              <p class="services-modal__descr">
                Способ увеличения площади и объема балкона или лоджии.
              </p>
            </li>
            <li class="services-modal__item services-modal__item--5">
              <h3 class="services-modal__subtitle">Остекление с крышей</h3>
              <p class="services-modal__descr">
                Строительство крыши для домов с высоким потолком и квартир, расположенных на последних этажах.
              </p>
            </li>
            <li class="services-modal__item services-modal__item--6">
              <h3 class="services-modal__subtitle">Объединение с комнатой</h3>
              <p class="services-modal__descr">
                Перепланировка квартиры, дающая дополнительные метры полезной площади и улучшающая жилищные условия.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="services-item-3">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="services-modal">
        <div class="services-modal__container">
          <div class="services-modal__action">
            <div class="swiper services-modal__swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="img/services/services-modal-3.jpg" alt="Большое помещение с 2 рядами пластиковых окон"
                    class="services-modal__image">
                </div>
                <div class="swiper-slide">
                  <img src="img/services/services-modal-3.jpg" alt="Большое помещение с 2 рядами пластиковых окон"
                    class="services-modal__image">
                </div>
                <div class="swiper-slide">
                  <img src="img/services/services-modal-3.jpg" alt="Большое помещение с 2 рядами пластиковых окон"
                    class="services-modal__image">
                </div>
                <div class="swiper-slide">
                  <img src="img/services/services-modal-3.jpg" alt="Большое помещение с 2 рядами пластиковых окон"
                    class="services-modal__image">
                </div>
                <div class="swiper-slide">
                  <img src="img/services/services-modal-3.jpg" alt="Большое помещение с 2 рядами пластиковых окон"
                    class="services-modal__image">
                </div>
              </div>
              <div class="services-modal__pagination"></div>
            </div>
            <div class="services-modal__about">
              <h2 class="services-modal__title subtitle">Остекление коттеджей и дач</h2>
              <p class="services-modal__text">
                Остекление и отделка под ключ: от коттеджей и дач до террас и беседок. Выделяем личного технолога под каждый объект.
              </p>
              <div class="services-modal__buttons">
                <button class="services-modal__btn btn btn-reset btn--orange">Заявка на замер</button>
                <button class="services-modal__btn btn btn-reset btn--blue">Заказать расчет</button>
              </div>
            </div>
          </div>
          <ul class="services-modal__list list-reset">
            <li class="services-modal__item services-modal__item--1">
              <h3 class="services-modal__subtitle">Цветные окна</h3>
              <p class="services-modal__descr">
                Использование ламинационных окон, ламинации в массе, 3д-ламинации, а также покраска окон.
              </p>
            </li>
            <li class="services-modal__item services-modal__item--2">
              <h3 class="services-modal__subtitle">Фигурные окна</h3>
              <p class="services-modal__descr">
                Арочные окна, окна трапеции, треугольные окна, круглые и многоугольные окна
              </p>
            </li>
            <li class="services-modal__item services-modal__item--3">
              <h3 class="services-modal__subtitle">Алюминиевые конструкции</h3>
              <p class="services-modal__descr">
                Идеальный вариант для большой площади остекления: зимние сады, террасы и т.п..
              </p>
            </li>
            <li class="services-modal__item services-modal__item--4">
              <h3 class="services-modal__subtitle">Деревянные окна</h3>
              <p class="services-modal__descr">
                Экологичное и натуральное решение для остекления любого объекта.
              </p>
            </li>
            <li class="services-modal__item services-modal__item--5">
              <h3 class="services-modal__subtitle">Портальные решения</h3>
              <p class="services-modal__descr">
                Эксклюзивные дверные и балконные раздвижные конструкции для элитных квартир и респектабельных домов, обеспечивающие панорамный вид и экономящие пространство.
              </p>
            </li>
            <li class="services-modal__item services-modal__item--6">
              <h3 class="services-modal__subtitle">Рольставни и ворота</h3>
              <p class="services-modal__descr">
                Защитные рольставни для частных домов, роллетные ворота
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="services-item-4">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="services-modal">
        <div class="services-modal__container">
          <div class="services-modal__action">
            <div class="swiper services-modal__swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="img/services/services-modal-4.jpg" alt="Застеклкнный фасад корпоративного здания"
                    class="services-modal__image">
                </div>
                <div class="swiper-slide">
                  <img src="img/services/services-modal-4.jpg" alt="Застеклкнный фасад корпоративного здания"
                    class="services-modal__image">
                </div>
                <div class="swiper-slide">
                  <img src="img/services/services-modal-4.jpg" alt="Застеклкнный фасад корпоративного здания"
                    class="services-modal__image">
                </div>
                <div class="swiper-slide">
                  <img src="img/services/services-modal-4.jpg" alt="Застеклкнный фасад корпоративного здания"
                    class="services-modal__image">
                </div>
                <div class="swiper-slide">
                  <img src="img/services/services-modal-4.jpg" alt="Застеклкнный фасад корпоративного здания"
                    class="services-modal__image">
                </div>
              </div>
              <div class="services-modal__pagination"></div>
            </div>
            <div class="services-modal__about">
              <h2 class="services-modal__title subtitle">Остекление корпоративных объектов</h2>
              <p class="services-modal__text">
                Реализуем сложные проекты по остеклению торговых центров, ресторанов, производственных помещений и офисов
              </p>
              <div class="services-modal__buttons">
                <button class="services-modal__btn btn btn-reset btn--orange">Заявка на замер</button>
                <button class="services-modal__btn btn btn-reset btn--blue">Заказать расчет</button>
              </div>
            </div>
          </div>
          <ul class="services-modal__list list-reset">
            <li class="services-modal__item services-modal__item--1">
              <h3 class="services-modal__subtitle">Многоквартирные дома</h3>
              <p class="services-modal__descr">
                Изготовление и монтаж окон ПВХ под ключ. Приглашаем к партнерству застройщиков
              </p>
            </li>
            <li class="services-modal__item services-modal__item--2">
              <h3 class="services-modal__subtitle">Офисные помещения</h3>
              <p class="services-modal__descr">
                Установка пластиковых окон, офисных перегородок и дверей и входных групп.
              </p>
            </li>
            <li class="services-modal__item services-modal__item--3">
              <h3 class="services-modal__subtitle">Социальные объекты</h3>
              <p class="services-modal__descr">
                Остекляем детские сады, школы, медицинские учреждения
              </p>
            </li>
            <li class="services-modal__item services-modal__item--4">
              <h3 class="services-modal__subtitle">Объекты торговли</h3>
              <p class="services-modal__descr">
                Способ увеличения площади и объема балкона или лоджии.
              </p>
            </li>
            <li class="services-modal__item services-modal__item--5">
              <h3 class="services-modal__subtitle">Спортивные объекты</h3>
              <p class="services-modal__descr">
                Остекляем спортивные залы, бассейны, крытые спорткомплексы
              </p>
            </li>
            <li class="services-modal__item services-modal__item--6">
              <h3 class="services-modal__subtitle">Производственные помещения</h3>
              <p class="services-modal__descr">
                Устанавливаем окна для складских и промышленных зданий в соответствии с требованиями бизнеса
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
