<section class="portfolio">
  <div class="container portfolio__container">
    <h2 class="portfolio__title subtitle">Портфолио</h2>
    <div class="swiper portfolio__swiper">
      <div class="swiper-wrapper portfolio__wrapper">
        <div class="swiper-slide portfolio__slide">
          <ul class="portfolio__list list-reset">
            <li class="portfolio__item">
              <a href="#" class="portfolio__link" data-graph-path="portfolio-item-1">
                <img src="img/portfolio/1.jpg" alt="Оконные рамы в комнате" class="portfolio__img">
              </a>
            </li>
            <li class="portfolio__item">
              <a href="#" class="portfolio__link" data-graph-path="portfolio-item-1">
                <img src="img/portfolio/4.jpg" alt="Оконные рамы в комнате" class="portfolio__img">
              </a>
            </li>
            <li class="portfolio__item">
              <a href="#" class="portfolio__link" data-graph-path="portfolio-item-1">
                <img src="img/portfolio/3.jpg" alt="Оконные рамы в комнате" class="portfolio__img">
              </a>
            </li>
            <li class="portfolio__item">
              <a href="#" class="portfolio__link" data-graph-path="portfolio-item-1">
                <img src="img/portfolio/4.jpg" alt="Оконные рамы в комнате" class="portfolio__img">
              </a>
            </li>
          </ul>
        </div>
        <div class="swiper-slide portfolio__slide">
          <ul class="portfolio__list list-reset">
            <li class="portfolio__item">
              <a href="#" class="portfolio__link" data-graph-path="portfolio-item-1">
                <img src="img/portfolio/1.jpg" alt="Оконные рамы в комнате" class="portfolio__img">
              </a>
            </li>
            <li class="portfolio__item">
              <a href="#" class="portfolio__link" data-graph-path="portfolio-item-1">
                <img src="img/portfolio/4.jpg" alt="Оконные рамы в комнате" class="portfolio__img">
              </a>
            </li>
            <li class="portfolio__item">
              <a href="#" class="portfolio__link" data-graph-path="portfolio-item-1">
                <img src="img/portfolio/3.jpg" alt="Оконные рамы в комнате" class="portfolio__img">
              </a>
            </li>
            <li class="portfolio__item">
              <a href="#" class="portfolio__link" data-graph-path="portfolio-item-1">
                <img src="img/portfolio/4.jpg" alt="Оконные рамы в комнате" class="portfolio__img">
              </a>
            </li>
          </ul>
        </div>
        <div class="swiper-slide portfolio__slide">
          <ul class="portfolio__list list-reset">
            <li class="portfolio__item">
              <a href="#" class="portfolio__link" data-graph-path="portfolio-item-1">
                <img src="img/portfolio/1.jpg" alt="Оконные рамы в комнате" class="portfolio__img">
              </a>
            </li>
            <li class="portfolio__item">
              <a href="#" class="portfolio__link" data-graph-path="portfolio-item-1">
                <img src="img/portfolio/4.jpg" alt="Оконные рамы в комнате" class="portfolio__img">
              </a>
            </li>
            <li class="portfolio__item">
              <a href="#" class="portfolio__link" data-graph-path="portfolio-item-1">
                <img src="img/portfolio/3.jpg" alt="Оконные рамы в комнате" class="portfolio__img">
              </a>
            </li>
            <li class="portfolio__item">
              <a href="#" class="portfolio__link" data-graph-path="portfolio-item-1">
                <img src="img/portfolio/4.jpg" alt="Оконные рамы в комнате" class="portfolio__img">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="swiper-button-prev btn-swiper portfolio__btn-prev"></div>
      <div class="swiper-button-next btn-swiper portfolio__btn-next"></div>
    </div>
  </div>
  <div id="first_map" class="portfolio__map"></div>
</section>
