<section class="products">
  <div class="container products__container">
    <h2 class="products__title subtitle">
      Продукция
    </h2>
    <div class="tabs">
      <ul class="tabs__nav list-reset">
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset btn" type="button">Стандарт</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset btn" type="button">Бизнес</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset btn" type="button">Премиум</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset btn" type="button">Эксклюзив</button></li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="swiper products-swiper">
            <div class="swiper-wrapper products-swiper__wrapper">
              <div class="swiper-slide products-swiper__slide">
                <img src="img/products/1.jpg" alt="Треугольная часть оконной рамы" class="products-swiper__img">
                <div class="products-swiper__content">
                  <h3 class="products-swiper__title">Rehau Blitz New</h3>
                  <p class="products-swiper__text">Сохраняют тепло в доме, защищают от шума
                    и вписываются в любой интерьер.
                    Практичный выбор</p>
                  <ul class="products-swiper__list list-reset">
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Системная глубина</h4>
                      <span class="products-swiper__descr">60/60 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Ширина стеклопакета</h4>
                      <span class="products-swiper__descr">24/31 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Воздушные камеры</h4>
                      <span class="products-swiper__descr">3</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Теплосопротивление</h4>
                      <span class="products-swiper__descr">0,70 м2С/ВТ</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="swiper-slide products-swiper__slide">
                <img src="img/products/1.jpg" alt="Треугольная часть оконной рамы" class="products-swiper__img">
                <div class="products-swiper__content">
                  <h3 class="products-swiper__title">Rehau Blitz New</h3>
                  <p class="products-swiper__text">Сохраняют тепло в доме, защищают от шума
                    и вписываются в любой интерьер.
                    Практичный выбор</p>
                  <ul class="products-swiper__list list-reset">
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Системная глубина</h4>
                      <span class="products-swiper__descr">60/60 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Ширина стеклопакета</h4>
                      <span class="products-swiper__descr">24/31 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Воздушные камеры</h4>
                      <span class="products-swiper__descr">3</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Теплосопротивление</h4>
                      <span class="products-swiper__descr">0,70 м2С/ВТ</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="swiper-slide products-swiper__slide">
                <img src="img/products/1.jpg" alt="Треугольная часть оконной рамы" class="products-swiper__img">
                <div class="products-swiper__content">
                  <h3 class="products-swiper__title">Rehau Blitz New</h3>
                  <p class="products-swiper__text">Сохраняют тепло в доме, защищают от шума
                    и вписываются в любой интерьер.
                    Практичный выбор</p>
                  <ul class="products-swiper__list list-reset">
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Системная глубина</h4>
                      <span class="products-swiper__descr">60/60 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Ширина стеклопакета</h4>
                      <span class="products-swiper__descr">24/31 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Воздушные камеры</h4>
                      <span class="products-swiper__descr">3</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Теплосопротивление</h4>
                      <span class="products-swiper__descr">0,70 м2С/ВТ</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="swiper-button-prev btn-swiper products-swiper__prev"></div>
            <div class="swiper-button-next btn-swiper products-swiper__next"></div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="swiper products-swiper">
            <div class="swiper-wrapper products-swiper__wrapper">
              <div class="swiper-slide products-swiper__slide">
                <img src="img/products/2.jpg" alt="Треугольная часть оконной рамы" class="products-swiper__img">
                <div class="products-swiper__content">
                  <h3 class="products-swiper__title">Rehau Blitz New</h3>
                  <p class="products-swiper__text">Сохраняют тепло в доме, защищают от шума
                    и вписываются в любой интерьер.
                    Практичный выбор</p>
                  <ul class="products-swiper__list list-reset">
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Системная глубина</h4>
                      <span class="products-swiper__descr">60/60 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Ширина стеклопакета</h4>
                      <span class="products-swiper__descr">24/31 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Воздушные камеры</h4>
                      <span class="products-swiper__descr">3</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Теплосопротивление</h4>
                      <span class="products-swiper__descr">0,70 м2С/ВТ</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="swiper-slide products-swiper__slide">
                <img src="img/products/2.jpg" alt="Треугольная часть оконной рамы" class="products-swiper__img">
                <div class="products-swiper__content">
                  <h3 class="products-swiper__title">Rehau Blitz New</h3>
                  <p class="products-swiper__text">Сохраняют тепло в доме, защищают от шума
                    и вписываются в любой интерьер.
                    Практичный выбор</p>
                  <ul class="products-swiper__list list-reset">
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Системная глубина</h4>
                      <span class="products-swiper__descr">60/60 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Ширина стеклопакета</h4>
                      <span class="products-swiper__descr">24/31 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Воздушные камеры</h4>
                      <span class="products-swiper__descr">3</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Теплосопротивление</h4>
                      <span class="products-swiper__descr">0,70 м2С/ВТ</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="swiper-slide products-swiper__slide">
                <img src="img/products/2.jpg" alt="Треугольная часть оконной рамы" class="products-swiper__img">
                <div class="products-swiper__content">
                  <h3 class="products-swiper__title">Rehau Blitz New</h3>
                  <p class="products-swiper__text">Сохраняют тепло в доме, защищают от шума
                    и вписываются в любой интерьер.
                    Практичный выбор</p>
                  <ul class="products-swiper__list list-reset">
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Системная глубина</h4>
                      <span class="products-swiper__descr">60/60 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Ширина стеклопакета</h4>
                      <span class="products-swiper__descr">24/31 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Воздушные камеры</h4>
                      <span class="products-swiper__descr">3</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Теплосопротивление</h4>
                      <span class="products-swiper__descr">0,70 м2С/ВТ</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="swiper-button-prev products-swiper__prev"></div>
            <div class="swiper-button-next products-swiper__next"></div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="swiper products-swiper">
            <div class="swiper-wrapper products-swiper__wrapper">
              <div class="swiper-slide products-swiper__slide">
                <img src="img/products/3.jpg" alt="Треугольная часть оконной рамы" class="products-swiper__img">
                <div class="products-swiper__content">
                  <h3 class="products-swiper__title">Rehau Blitz New</h3>
                  <p class="products-swiper__text">Сохраняют тепло в доме, защищают от шума
                    и вписываются в любой интерьер.
                    Практичный выбор</p>
                  <ul class="products-swiper__list list-reset">
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Системная глубина</h4>
                      <span class="products-swiper__descr">60/60 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Ширина стеклопакета</h4>
                      <span class="products-swiper__descr">24/31 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Воздушные камеры</h4>
                      <span class="products-swiper__descr">3</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Теплосопротивление</h4>
                      <span class="products-swiper__descr">0,70 м2С/ВТ</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="swiper-slide products-swiper__slide">
                <img src="img/products/3.jpg" alt="Треугольная часть оконной рамы" class="products-swiper__img">
                <div class="products-swiper__content">
                  <h3 class="products-swiper__title">Rehau Blitz New</h3>
                  <p class="products-swiper__text">Сохраняют тепло в доме, защищают от шума
                    и вписываются в любой интерьер.
                    Практичный выбор</p>
                  <ul class="products-swiper__list list-reset">
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Системная глубина</h4>
                      <span class="products-swiper__descr">60/60 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Ширина стеклопакета</h4>
                      <span class="products-swiper__descr">24/31 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Воздушные камеры</h4>
                      <span class="products-swiper__descr">3</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Теплосопротивление</h4>
                      <span class="products-swiper__descr">0,70 м2С/ВТ</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="swiper-slide products-swiper__slide">
                <img src="img/products/3.jpg" alt="Треугольная часть оконной рамы" class="products-swiper__img">
                <div class="products-swiper__content">
                  <h3 class="products-swiper__title">Rehau Blitz New</h3>
                  <p class="products-swiper__text">Сохраняют тепло в доме, защищают от шума
                    и вписываются в любой интерьер.
                    Практичный выбор</p>
                  <ul class="products-swiper__list list-reset">
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Системная глубина</h4>
                      <span class="products-swiper__descr">60/60 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Ширина стеклопакета</h4>
                      <span class="products-swiper__descr">24/31 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Воздушные камеры</h4>
                      <span class="products-swiper__descr">3</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Теплосопротивление</h4>
                      <span class="products-swiper__descr">0,70 м2С/ВТ</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="swiper-button-prev products-swiper__prev"></div>
            <div class="swiper-button-next products-swiper__next"></div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="swiper products-swiper">
            <div class="swiper-wrapper products-swiper__wrapper">
              <div class="swiper-slide products-swiper__slide">
                <img src="img/products/4.jpg" alt="Треугольная часть оконной рамы" class="products-swiper__img">
                <div class="products-swiper__content">
                  <h3 class="products-swiper__title">Rehau Blitz New</h3>
                  <p class="products-swiper__text">Сохраняют тепло в доме, защищают от шума
                    и вписываются в любой интерьер.
                    Практичный выбор</p>
                  <ul class="products-swiper__list list-reset">
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Системная глубина</h4>
                      <span class="products-swiper__descr">60/60 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Ширина стеклопакета</h4>
                      <span class="products-swiper__descr">24/31 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Воздушные камеры</h4>
                      <span class="products-swiper__descr">3</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Теплосопротивление</h4>
                      <span class="products-swiper__descr">0,70 м2С/ВТ</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="swiper-slide products-swiper__slide">
                <img src="img/products/4.jpg" alt="Треугольная часть оконной рамы" class="products-swiper__img">
                <div class="products-swiper__content">
                  <h3 class="products-swiper__title">Rehau Blitz New</h3>
                  <p class="products-swiper__text">Сохраняют тепло в доме, защищают от шума
                    и вписываются в любой интерьер.
                    Практичный выбор</p>
                  <ul class="products-swiper__list list-reset">
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Системная глубина</h4>
                      <span class="products-swiper__descr">60/60 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Ширина стеклопакета</h4>
                      <span class="products-swiper__descr">24/31 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Воздушные камеры</h4>
                      <span class="products-swiper__descr">3</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Теплосопротивление</h4>
                      <span class="products-swiper__descr">0,70 м2С/ВТ</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="swiper-slide products-swiper__slide">
                <img src="img/products/4.jpg" alt="Треугольная часть оконной рамы" class="products-swiper__img">
                <div class="products-swiper__content">
                  <h3 class="products-swiper__title">Rehau Blitz New</h3>
                  <p class="products-swiper__text">Сохраняют тепло в доме, защищают от шума
                    и вписываются в любой интерьер.
                    Практичный выбор</p>
                  <ul class="products-swiper__list list-reset">
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Системная глубина</h4>
                      <span class="products-swiper__descr">60/60 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Ширина стеклопакета</h4>
                      <span class="products-swiper__descr">24/31 мм</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Воздушные камеры</h4>
                      <span class="products-swiper__descr">3</span>
                    </li>
                    <li class="products-swiper__item">
                      <h4 class="products-swiper__subtitle">Теплосопротивление</h4>
                      <span class="products-swiper__descr">0,70 м2С/ВТ</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="swiper-button-prev products-swiper__prev"></div>
            <div class="swiper-button-next products-swiper__next"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
