<section class="quality">
  <div class="container quality__container">
    <div class="quality__wrapper">
      <img src="img/quality/quality.png" alt="Надпись гарантии качества" class="quality__img">
      <ul class="quality__list list-reset">
        <li class="quality__item quality__item--1">
          <p class="quality__text">
            Сертифицированный
            производитель Rehau
          </p>
        </li>
        <li class="quality__item quality__item--2">
          <p class="quality__text">
            Инновационный
            оконный завод
          </p>
        </li>
        <li class="quality__item quality__item--3">
          <p class="quality__text">
            Лидер по переработке
            профилей Rehau в России
          </p>
        </li>
        <li class="quality__item quality__item--4">
          <p class="quality__text">
            Высокотехнологичное
            автоматизированное
            оборудование
          </p>
        </li>
        <li class="quality__item quality__item--5">
          <p class="quality__text">
            Широкий
            ассортимент
            продукции
          </p>
        </li>
      </ul>
    </div>
    <button class="btn btn-action btn-action--blue btn-reset quality__btn">Заказать расчет</button>
  </div>
</section>
