<section class="questions">
  <div class="container questions__container">
    <h2 class="questions__title subtitle">Вопрос-ответ</h2>
    <ul class="questions__list list-reset">
      <li class="questions__item">
        <button class="questions__btn btn-reset">
          <p class="questions__btn-text">
            Сколько по времени занимает изготовление пластиковых окон?
          </p>
          <svg class="questions__svg">
            <use href="img/sprite.svg#arrow-down"></use>
          </svg>
        </button>
        <div class="questions__inner">
          <p class="questions__inner-text">
            Нет, команда мастеров все сами аккуратно доставят и внесут.
          </p>
        </div>
      </li>
      <li class="questions__item">
        <button class="questions__btn btn-reset">
          <p class="questions__btn-text">
            Какие существуют способы оплаты?
          </p>
          <svg class="questions__svg">
            <use href="img/sprite.svg#arrow-down"></use>
          </svg>
        </button>
        <div class="questions__inner">
          <p class="questions__inner-text">
            Нет, команда мастеров все сами аккуратно доставят и внесут.
          </p>
        </div>
      </li>
      <li class="questions__item">
        <button class="questions__btn btn-reset">
          <p class="questions__btn-text">
            Где я могу посмотреть образцы?
          </p>
          <svg class="questions__svg">
            <use href="img/sprite.svg#arrow-down"></use>
          </svg>
        </button>
        <div class="questions__inner">
          <p class="questions__inner-text">
            Нет, команда мастеров все сами аккуратно доставят и внесут.
          </p>
        </div>
      </li>
      <li class="questions__item">
        <button class="questions__btn btn-reset">
          <p class="questions__btn-text">
            Зачем вызывать замерщика? Я могу дать размеры
          </p>
          <svg class="questions__svg">
            <use href="img/sprite.svg#arrow-down"></use>
          </svg>
        </button>
        <div class="questions__inner">
          <p class="questions__inner-text">
            Нет, команда мастеров все сами аккуратно доставят и внесут.
          </p>
        </div>
      </li>
      <li class="questions__item">
        <button class="questions__btn btn-reset">
          <p class="questions__btn-text">
            Хотелось бы отделать балкон. Поможете?
          </p>
          <svg class="questions__svg">
            <use href="img/sprite.svg#arrow-down"></use>
          </svg>
        </button>
        <div class="questions__inner">
          <p class="questions__inner-text">
            Нет, команда мастеров все сами аккуратно доставят и внесут.
          </p>
        </div>
      </li>
      <li class="questions__item">
        <button class="questions__btn btn-reset">
          <p class="questions__btn-text">
            Мне надо нанимать грузчиков для подъема?
          </p>
          <svg class="questions__svg">
            <use href="img/sprite.svg#arrow-down"></use>
          </svg>
        </button>
        <div class="questions__inner">
          <p class="questions__inner-text">
            Нет, команда мастеров все сами аккуратно доставят и внесут.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
