<section id="services" class="services">
  <div class="container">
    <h2 class="services__title subtitle centered">
      Наши услуги
    </h2>
    <ul class="services__list list-reset">
      <li class="services__item services__item--1" data-graph-path="services-item-1">
        <h2 class="services__item-subtitle services__item-subtitle--1">Установка пластиковых окон</h2>
        <p class="services__item-text">
          Устанавливаем пластиковые окна Rehau от проверенного производителя с гарантией качества
        </p>
        <button class="services__btn btn-reset">
          <svg class="services__btn-svg">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="services__item services__item--2" data-graph-path="services-item-2">
        <h2 class="services__item-subtitle services__item-subtitle--2">Остекление балконов и лоджий
          </h2>
        <p class="services__item-text">
          Занимаемся остеклением и отделкой балконов и лоджий. Теплое и холодное остекление, изготовление выносов и крыш. Беремся за сложные объекты
        </p>
        <button class="services__btn btn-reset">
          <svg class="services__btn-svg">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="services__item services__item--3" data-graph-path="services-item-3">
        <h2 class="services__item-subtitle services__item-subtitle--3">Остекление коттеджей и дач</h2>
        <p class="services__item-text">
          Остекление и отделка под ключ: от коттеджей и дач до террас и беседок. Выделяем личного технолога под каждый объект
        </p>
        <button class="services__btn btn-reset">
          <svg class="services__btn-svg">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="services__item services__item--4" data-graph-path="services-item-4">
        <h2 class="services__item-subtitle services__item-subtitle--4">Остекление <br> корпоративных объектов
          </h2>
        <p class="services__item-text">
          Реализуем сложные проекты по остеклению торговых центров, ресторанов, производственных помещений и офисов
        </p>
        <button class="services__btn btn-reset">
          <svg class="services__btn-svg">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
