// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Roboto";
  --content-width: 1200px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --dark-color: #000;
  --main-color: #2f2f51;
  --orange-color: #ef7f04;
  --blue-color: #3b3a63;

  //js accordion
  --accordion-time: 0.3s;
}
